/* Configuration */

.settings-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.settings h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.settingsForm {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.size-options-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input select,
.input input {
    padding: 0.5rem;
    height: 45px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    min-width: 40%;
    width: 100%;
}

.input input:focus,
.input select:focus {
    border-color: #007bff;
}

.submit {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s;
    width: 100%;
}

.submit:hover {
    background-color: #0056b3;
}

.submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Content creator */
.um-content-creator h2 {
    margin-bottom: 20px;
}

.um-content-creator div {
    margin-bottom: 10px;
}

.um-content-creator label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.um-content-creator select,
.um-content-creator textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 18px;
    line-height: 1.4;
}

.um-content-creator input[type="range"] {
    width: 100%;
}

.um-content-creator span.temperature-hint {
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
}

.um-content-creator button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.um-content-creator button:hover {
    background-color: #0056b3;
}

.um-content-creator img {
    max-height: 45px;
    max-width: 45px;
    border-radius: 50px;
}

