<div ng-controller="UmImageContentCreatorController">
    <button ng-click="openModal($event)"
            id="openModalButton"
            class="open-modal"
            unique-id="{{$id}}"
            title="Create image using AI">
        <img src="/App_Plugins/UmContentCreator/icon.png">
    </button>
    <div id="{{'myModal' + $id}}" class="um-content-creator-modal">
        <div id="{{'myModalContent' + $id}}" class="um-content-creator-modal-content">
            <div class="um-modal-title">
                <p ng-bind-html="configurationObject.modalCaptionText"></p>
                <span class="close-modal" ng-click="closeModal()">&times;</span>
            </div>
            <div class="um-content-creator">
                <div class="content">

                    <div>
                        <label for="tokensSlider">Number of images to generate:</label>
                        <input type="range"
                               id="numberOfImages"
                               min="1"
                               max="4"
                               ng-model="configurationObject.generationModel.numberOfImages"
                               step="1">
                        <span>{{configurationObject.generationModel.numberOfImages}}</span>
                    </div>

                    <div>
                        <label for="imageSize">Image size:</label>
                        <select id="imageSize" ng-model="configurationObject.generationModel.imageSize" ng-options="size as getSizeLable(size) for size in configurationObject.validSizes"></select>
                    </div>


                    <div>
                        <label for="promptInput">What would you like to generate?</label>
                        <textarea type="text"
                                  id="promptInput"
                                  ng-model="configurationObject.generationModel.prompt"
                                  placeholder="Enter a prompt..."></textarea>
                    </div>

                    <div class="loading-container" ng-show="configurationObject.isGenerating">
                        <p>Generating</p><span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
                    </div>

                    <p class="generated-images-title"
                       ng-show="configurationObject.generatedImages.length !== 0 && !configurationObject.isGenerating">Generated images:</p>

                    <div ng-show="configurationObject.generatedImages && !configurationObject.isGenerating" class="generated-images">
                        <div class="generated-image-container" ng-repeat="image in configurationObject.generatedImages">
                            <img ng-src="{{image.url}}" ng-click="selectImage(image)" ng-class="{'selected': image.selected}">
                        </div>
                    </div>

                    <div class="loading-container" ng-show="configurationObject.isAddingMedia">
                        <p>Adding media</p><span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
                    </div>

                    <div class="um-content-creator-buttons">
                        <button class="generate"
                                ng-click="generateImages($event)"
                                ng-disabled="!configurationObject.generationModel.prompt || configurationObject.isGenerating">
                            {{configurationObject.generateButtonText}}
                        </button>

                        <div class="buttons-right" ng-show="configurationObject.generatedImages.length !== 0">
                            <button class="replace"
                                    ng-click="updateContentOfProperty($event, true)"
                                    ng-disabled="!configurationObject.selectedImage || configurationObject.isGenerating">
                                Set image
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
