/* Modal */
#openModalButton {
    font-weight: bold;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
    margin-top: 15px;
}

#openModalButton:hover {
    background-color: #1976D2;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#openModalButton:active {
    background-color: #1565C0;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.um-content-creator-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.um-content-creator-modal-content {
    display: none;
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 450px;
    border-radius: 10px;
}

.close-modal {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.close-modal span {
    color: lightgrey;
    font-size: 32px;
    font-weight: bold;
    transition: all 300ms;
}

.close-modal span:hover,
.close-modal span:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}