<div ng-controller="UmContentCreatorController">
    <button ng-click="openModal($event)"
            id="openModalButton" 
            class="open-modal"
            unique-id="{{$id}}"
            title="Create content">
        <img src="/App_Plugins/UmContentCreator/icon.png">
    </button>
    <div id="{{'myModal' + $id}}" class="um-content-creator-modal">
        <div id="{{'myModalContent' + $id}}" class="um-content-creator-modal-content">
        <div class="um-modal-title">
                <p ng-bind-html="configurationObject.modalCaptionText"></p>
                <span ng-click="closeModal()">&times;</span>
            </div>
            <div class="um-content-creator">
                
                <div class="content">
                    <div>
                        <label for="tokensSlider">Max words per response:</label>
                        <input type="range"
                               id="tokensSlider"
                               min="50"
                               max="2048"
                               ng-model="configurationObject.generationModel.maxTokens"
                               step="1">
                        <span>{{configurationObject.generationModel.maxTokens}}</span>
                    </div>

                    <div>
                        <label for="temperatureSlider">Model behaviour:</label>
                        <input type="range"
                               id="temperatureSlider"
                               min="0.2"
                               max="1.0"
                               ng-model="configurationObject.generationModel.temperature"
                               step="0.2">
                        <span class="temperature-hint">{{getTemperatureLabel(configurationObject.generationModel.temperature)}}</span>
                    </div>

                    <div>
                        <label for="promptTextArea">What would you like to generate?</label>
                        <textarea id="promptTextArea"
                                  ng-model="configurationObject.generationModel.prompt"
                                  rows="3" placeholder="Enter a prompt..."></textarea>
                    </div>

                    <div class="loading-container" ng-show="configurationObject.isGenerating">
                        <p>Generating</p><span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
                    </div>
                    
                    <div ng-show="configurationObject.generatedText && !configurationObject.isGenerating" class="generated-text">
                        <label for="generatedText">Generated text:</label>
                        <textarea id="generatedText"
                                  ng-model="configurationObject.generatedText" rows="3"></textarea>
                    </div>

                    <div class="um-content-creator-buttons">
                        <button class="generate"
                                ng-click="generateText($event)" 
                                ng-disabled="!configurationObject.generationModel.prompt || configurationObject.isGenerating">{{configurationObject.generateButtonText}}</button>
                        
                        <div class="buttons-right" ng-show="configurationObject.generatedText">
                            <button class="replace" 
                                    ng-click="updateContentOfProperty($event, true)"
                                    ng-disabled="!configurationObject.generatedText">Replace</button>
                            <button class="extend"
                                    ng-show="configurationObject.propertyHasValue && configurationObject.generatedText"
                                    ng-click="updateContentOfProperty($event, false)">Append</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
