<div class="um-content-creator" ng-controller="UmContentCreatorController">
    <div>
        <label for="propertyDropdown">Select a property:</label>
        <select id="propertyDropdown"
                ng-model="selectedProperty"
                ng-options="property as property.propertyName for property in properties">
            <option value="">-- Not selected --</option>
        </select>
    </div>

    <div>
        <label for="tokensSlider">Max words per response:</label>
        <input type="range"
               id="tokensSlider"
               min="100"
               max="4096"
               ng-model="selectedTokens"
               step="1">
        <span>{{selectedTokens}}</span>
    </div>

    <div>
        <label for="temperatureSlider">Model behaviour:</label>
        <input type="range"
               id="temperatureSlider"
               min="0.2"
               max="1.0"
               ng-model="selectedTemperature"
               step="0.2">
        <span class="temperature-hint">{{getTemperatureLabel(selectedTemperature)}}</span>
    </div>

    <div>
        <label for="promptTextarea">Enter a prompt:</label>
        <textarea id="promptTextarea"
                  ng-model="prompt" rows="3"></textarea>
    </div>

    <div>
        <button ng-click="generate()">Generate</button>
        <img ng-show="isGenerating" src="https://media1.giphy.com/media/3o7bu3XilJ5BOiSGic/giphy.gif?cid=ecf05e47ss5nxpy2u42mk918q4clnnfq1boyb8v34ph55dor&rid=giphy.gif" alt="Loading...">
    </div>
</div>
